html {
  height: 100%;
}

body {
  background-color: green;
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

#intro {
  display: flex;
  justify-content: center;
}

#deal-button {
  border: solid red 0.5em;
}

.game-starter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-starter p {
  max-width: 50%;
}

.main-section {
  display: flex;
  align-items: center;
}

.player {
  width: 50%;
}


.house {
  width: 50%;
}