html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

#intro {
  display: flex;
  justify-content: center;
  background-color: blue;
  font-family: fantasy;
  font-size: 3em;
  color: white;
}

.participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2em;
  margin: 5em;
  background-color: red;
  align-items: center;
}

